.thumbnail img {
    width: 100%;
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#hakeshow {
    color: black;
}
#hakeshow:hover {
    color: black;
    cursor: default;
}
#delete-form {
    display: inline;
}
#jerereka {
    display: inline;
}